* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    background: #bec1c3;
    padding: 20px;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    color: #2c3e50;
}

button {
    background: #2980b9;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #3498db;
}

.danger {
    background: #e74c3c;
}

.danger:hover {
    background: #c0392b;
}

.car-info {
    background: rgb(163, 211, 176);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.car-info h2 {
    margin-bottom: 10px;
}

.car-info input {
    margin-right: 10px;
    margin-bottom: 10px;
}

form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    margin-bottom: 20px;
}

input, select {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

th {
    background: #2980b9;
    color: white;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.hidden {
    display: none;
}

#historyDetail {
    margin-top: 15px;
}

.total {
    text-align: right;
    font-weight: bold;
    margin-top: 5px;
}
#exportDataBtn {
    background: #ae7327;
}

#exportDataBtn:hover {
    background: #cca42e;
}

#importDataBtn {
    background: #8e44ad;
}

#importDataBtn:hover {
    background: #9b59b6;
}
.vehicle-title {
    margin-bottom: 10px;
}

/* Fila inputs + foto */
.car-row {
    display: flex;
    justify-content: space-between; /* inputs izquierda, foto derecha */
    align-items: center;
    gap: 20px;
}

.car-fields {
    display: flex;
    gap: 10px; /* separación entre Marca, Modelo y Año */
}

.car-fields input {
    padding: 6px 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 100px;
}

.car-photo-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carPhotoPreview {
    width: 170px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-bottom: 8px;
}

#selectPhotoBtn {
    background: #3498db;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
}

#selectPhotoBtn:hover {
    background: #2980b9;
}
